<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152396274962-dscks59ffs52g0so1bcenue670s0oop9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152396274962-dscks59ffs52g0so1bcenue670s0oop9</string>
	<key>API_KEY</key>
	<string>AIzaSyBxZcJgT5bhr516VNyPYdUwINjQ1RgGoME</string>
	<key>GCM_SENDER_ID</key>
	<string>152396274962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.random.attendance</string>
	<key>PROJECT_ID</key>
	<string>trackingapp-62ce7</string>
	<key>STORAGE_BUCKET</key>
	<string>trackingapp-62ce7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152396274962:ios:4ca4b9d51fa0373944a7cb</string>
</dict>
</plist>